:root {
    --header-background: #fff;
    --chakra-colors-green-500: #27AE60;

    /*question-modal*/
    --question-modal-body: #F9F9F9;
    --question-modal-header: #F9F9F9;
}

html, body {
    font-size: 16px;
}
