.modal-content {
    background: var(--question-modal-body);
    border-radius: 8px;
}
.modal-header {
    background: var(--question-modal-header);
    border-radius: 8px;
    box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24), 0 3px 8px -1px rgba(50, 50, 71, 0.05);

}